<!DOCTYPE html>
<html lang="nl">
  <head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />
    <meta charset="utf-8" />
    <title>Buro €. Spaan</title>
    <meta
      name="description"
      content="Buro €. spaan | Boekhouder uit de Zaanstreek | Het opzetten, inrichten en bijhouden van de administratie en de
    boekhouding | BTW-aangifte | Belastingaangifte"
    />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {{ $style := resources.Get "styles.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" />
    <!--[if lt IE 9
      ]><script
        src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
        type="text/javascript"
      ></script
    ><![endif]-->
  </head>

  <body>
    <div>
      <div
        data-collapse="medium"
        data-animation="default"
        data-duration="400"
        id="navbar"
        class="navbar w-nav"
      >
        <div class="container-3 w-container">
          <div class="menu-button w-nav-button">
            <div class="icon w-icon-nav-menu"></div>
          </div>
          <img src="logo.png" alt="Buro E. Spaan" class="image-5" />
          <nav role="navigation" class="nav-menu nav-collapse">
            <a href="#over-ons" class="nav-link nav-link-hide-sd"
              ><span class="item-custom-spacing">over ons</span></a
            ><a href="#onze-diensten" class="nav-link nav-link-hide-sd"
              ><span>Onze Diensten</span></a
            ><a href="#samenwerking" class="nav-link nav-link-hide-sd"
              ><span>samenwerking</span></a
            ><a href="#contact" class="nav-link nav-link-hide-sd"
              ><span>Contact</span></a
            >
          </nav>
        </div>
      </div>
      <div id="header" class="div-block">
        <div class="container w-container">
          <h1 class="hero-heading">De boekhouder<br />voor de ZZP&#x27;er</h1>
          <div class="button-group">
            <a href="#over-ons" class="button">over ons</a>
          </div>
        </div>
      </div>
    </div>
    <div id="over-ons" class="section section-padding">
      <div class="container-2 w-container">
        <h2 class="section-title">Over ons</h2>
        <p class="paragraph-6">
          Buro €. Spaan heeft zich de afgelopen jaren vooral gericht op ZZP’ers.
          Deze specialisatie komt voort uit het gegeven dat wij zelf ook
          jarenlang als ZZP’ers in diverse sectoren hebben gewerkt en weten
          daarom als geen ander wat er nodig is om een administratie te voeren.
          Bij ons kunt u terecht voor uw gehele boekhouding, zoals: het opzetten
          en periodiek bijhouden van uw administratie en het verwerken van uw
          boekhouding, het opstellen van de jaarcijfers en het opstellen van de
          noodzakelijke belastingaangiften.
        </p>
        <blockquote class="block-quote">
          <strong>“Ken je klant”</strong> is het motto van Buro €. Spaan.
        </blockquote>
        <p class="paragraph-7">
          Bij Buro €. Spaan denken wij vanuit het perspectief van de ZZP’er.
          Daar stemmen wij onze diensten op af, zodat u als ZZP’er op
          administratief <em>en</em> fiscaal gebied geen zorgen hebt en
          tegelijkertijd een goed financieel inzicht hebt in uw bedrijf. Wij
          kennen uw bedrijf en nemen graag uw administratieve werk uit handen,
          zodat u tijd vrijmaakt om werk te doen waar u goed in bent.Wij nodigen
          u graag uit voor een vrijblijvend gesprek om de mogelijkheden voor het
          voeren van uw administratie te bespreken.
        </p>
      </div>
    </div>
    <div id="onze-diensten" class="section grey section-padding">
      <div class="container-6 w-container">
        <h2 class="section-title">Onze diensten</h2>
        <div class="w-row">
          <div
            class="column spacing-top-sd w-col w-col-4 w-col-stack w-col-small-small-stack"
          >
            <div class="icon-container">
              <img src="file-document.png" alt="file-document" class="image" />
            </div>
            <h3 class="heading">Financiële administratie</h3>
            <p class="paragraph-8">
              U kunt bij ons uw boekhouding uitbesteden. Wij werken met het
              boekhoudprogramma van Davilex waarin wij uw gehele administratie
              invoeren en de aangifte omzetbelasting verzorgen.
            </p>
            <ul class="unordered-list-2">
              <li>
                Het opzetten, inrichten en bijhouden van de administratie en de
                boekhouding
              </li>
              <li>De BTW-aangifte</li>
              <li>De aangifte inkomstenbelasting</li>
            </ul>
          </div>
          <div
            class="column3 spacing-top-sd w-col w-col-4 w-col-stack w-col-small-small-stack"
          >
            <div class="icon-container">
              <img src="file-chart.png" alt="file-chart" class="image" />
            </div>
            <h3 class="heading"><strong>Rapportages</strong></h3>
            <p class="paragraph-4">
              Onze rapportages zien er professioneel en duidelijk uit. Ons
              uitgangspunt is dat uw jaarverslag voor u als ZZP’er begrijpbaar
              en leesbaar is, zodat u een goed financieel overzicht krijgt van
              uw eigen bedrijf. Wij kunnen voor u de volgende rapportage
              verzorgen:<br />
            </p>
            <ul class="unordered-list-2">
              <li>Jaarverslag volgens de geldende wettelijke vereisten</li>
              <li>
                Publicatie van uw jaarcijfers en deponering van de
                vereenvoudigde jaarcijfers bij de Kamer van Koophandel
              </li>
              <li>
                Tussentijdse rapportages, zoals maandrapportages of
                halfjaarcijfers, all dan niet in een vereenvoudigde vorm
              </li>
            </ul>
          </div>
          <div
            class="column3 spacing-top-sd w-col w-col-4 w-col-stack w-col-small-small-stack"
          >
            <div class="icon-container">
              <img src="taxes.png" alt="tax icon" class="image tax-icon" />
            </div>
            <h3 class="heading">Belastingaangifte</h3>
            <p class="paragraph-4">
              Wij verzorgen de noodzakelijke belastingaangiften waar u als
              bedrijf mee te maken (kunt) krijgen:<br />
            </p>
            <ul class="unordered-list-2">
              <li>Omzetbelasting</li>
              <li>Loonbelasting</li>
              <li>Inkomstenbelasting</li>
              <li>Vennootschapbelasting</li>
            </ul>
            <p class="paragraph-4">
              De aangiftes worden gedaan vanuit het professionele
              aangifteprogramma van Elsevier Nextens.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="samenwerking" class="section">
      <div class="container-5 w-container">
        <h2 class="section-title"><strong>Samenwerking</strong></h2>
        <p class="paragraph-9">
          Buro €. Spaan werkt nauw samen met Administratiekantoor
          <a
            href="https://www.burobicker.nl/"
            target="_blank"
            class="external-link"
            rel="noopener"
            ><span>Buro Bicker</span></a
          >, die gekwalificeerd lid is van de Nederlandse Orde van
          Administratie- en Belastingdeskundigen. Het NOAB is de
          brancheorganisatie voor kantoren in de administratieve en fiscale
          dienstverlening die zich richten op MKB- en ZZP-ondernemers.Buro
          Bicker richt zich vooral op kleine ondernemers, zoals starters,
          eenmanszaken met of zonder personeel, kleine BV’s, stichtingen en
          verenigingen.
        </p>
      </div>
    </div>
    <div id="contact" class="section centered">
      <div class="w-container">
        <h2 class="section-title">Contact</h2>
        <div class="w-row">
          <div class="column-3 w-col w-col-5 w-col-stack">
            <p class="paragraph-5">
              Indien u contact met ons wenst op te nemen, kunt u zich wenden tot
              onderstaande telefoonnummer:<br />
            </p>
            <img src="phone.png" alt="phone icon" class="image-6" />
            <p class="paragraph-10">06 1164 8410</p>
            <p class="paragraph-11">
              Of via het contact formulier<span
                class="contact-form-pointer"
              ></span>
            </p>
          </div>
          <div class="form-container w-col w-col-7 w-col-stack">
            <div class="w-form">
              <form name="email-form" data-netlify="true">
                <label for="name" class="field-label">Naam</label
                ><input
                  type="text"
                  class="text-field w-input"
                  maxlength="256"
                  name="name"
                  placeholder="Vul je naam in"
                /><label for="email" class="field-label-2">Emailadres</label
                ><input
                  type="email"
                  class="text-field-2 w-input"
                  maxlength="256"
                  name="email"
                  placeholder="Vul je emailadres in"
                  required=""
                /><label for="email-2" class="field-label-2">Bericht</label
                ><textarea
                  name="field"
                  placeholder="Vul je bericht in"
                  maxlength="5000"
                  class="textarea w-input"
                ></textarea>
                <input
                  type="submit"
                  value="Bericht versturen"
                  class="submit-button w-button"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="section footer">
      <a href="#navbar" class="back-to-top link-block w-inline-block"></a>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      type="text/javascript"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    {{ $script := resources.Get "script.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $script.Permalink }}" type="text/javascript"></script>
  </body>
</html>
